
.mainContent {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px!important;
  height: calc(100vh - 96px);
}

.credit-item-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.details-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.total-title {
  position: relative;
  line-height: 33px!important;
  .progress-circle {
    position: absolute;
    left: 80px;
  }
}
.good-people {
  text-align: center;
}
.good-icon {
  width: 100%
}