.note-details-dialog {
  .admin-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    .reduce-button {
      margin-top: 28px;
    }
  }
  .expansion-panel {
    box-shadow: none;
    border-bottom: 1px solid #d4d4d4;
    .expansion-panel-title {
      max-height: 48px;
      min-height: 48px;
    }
  }
  .MuiPaper-root:last-child {
    border-width: 1px;
  }
  .mainContent {
    .header + .MuiPaper-root {
      border-top: 1px solid #d4d4d4;
    }
  }
  .header {
    color: rgba(0, 0, 0, 0.54);
    padding-left: 24px;
  }
  .date-container {
    display: flex;
    justify-content: space-between;
    width: 140px;
    padding: 14px 40px 14px 0;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    vertical-align: inherit;
  }
  .note-description {
    white-space: pre-wrap;
  }
}

